.allergyCheck {
    font-size: 1.5vh;
    margin-bottom: 1vh;
}

.diseaseCheck {
    font-size: 1.5vh;
    margin-bottom: 1vh;
}

#allergyRow {
    padding-bottom: 3vh;

}

#allergyTitle {
    padding-top:4vh;
    margin-bottom: 2vh;
    color: #006edc;
}

#allergyText {
    font-size: 2.5vh;

}

#diseaseTitle {
    margin-bottom: 2vh;
    color: #006edc;
}

#diseaseText {
    font-size: 2.5vh;
}