.rankingToggleMenu {
    margin-left: 46rem;
    padding-top: 1.2vh;
    color: #006edc;
}

.rankingButton {
    border: 1px solid #006edc;
    background-color: #006edc;
    color: white;
    height: 5vh;
    width: 7vh;
    border-radius: 10px;
    margin-left: 10vh;
}

.rankingToggle {
    border: 1px solid #006edc;
    background-color: white;
    color: #006edc;
    height: 5vh;
    width: 20rem;
    margin-right: 1.5vh;
    border-radius: 0px 10px 10px 0px;
}

#rankingToggle {
    color: dimgray;
    width: 30vh;
    border-radius: 10px;
}

@media (max-width: 2200px) {
    .rankingToggleMenu, .rankingButton {
        position: absolute;
    }

}