.rankingButton {
    font-weight: bold;
}

.rankingToggleMenu {
    margin-right: 4vh;
}

.rankingToggle {
    width: 300px;
    text-align: left;
}

.rankingMenu {
    width: 300px;
}

@media (max-width: 1px) {
    .rankingToggleMenu {
        display: none;
    }
}