#topBar {
    position: fixed;
    width: 2050px;
    margin-top: 0.5rem;

}


#categoryImg {
    width: 3.5rem;
    height: 4rem;
    margin-top: 0rem
}

#navBar {
    border: 1px solid white;
}

#logo {
    width: 23rem;
    height: 4rem;
    padding-left: 1rem;
    margin-top: 0.1rem;
}

#searchButtonImg {
    width: 2rem;
    height: 2.2rem;

}

#searchButton {
    margin-top: 1.3rem;
    border: 1px solid #006edc;
    margin-left: 1rem;
    background-color: white;
    border-radius:10px;
}

#searchInput {
    margin-top: 1.3rem;
    border: 1px solid #006edc;
    width: 30rem;
    height: 3rem;
    margin-left: 1.5rem;
    border-radius: 10px;

}

#loginButton {
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    text-align: center;
    margin-top: 1.1rem;
    margin-left: 0.5rem;
    border: 1px solid #006edc;
    height: 3.3rem;
    width: 10rem;
    background-color: white;
    border-radius: 10px;
    color: #006edc;
    font-family: NanumBarunGothic;
    font-size: 1.5rem;
    letter-spacing: 4px;

}

#memberImageArea {
    margin-top: 0.3rem;
    margin-left: 0.8rem;
    height: 5rem;
    border: white;
    background-color: white;
}

.memberImage {
    height: 4rem;
    border-radius: 30px;
    border: 2px solid #006edc;
}

#myPageButton {
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    text-align: center;
    margin-top: 1.1rem;
    margin-left: 0.5rem;
    border: 1px solid #006edc;
    height: 3.3rem;
    width: 10rem;
    background-color: white;
    border-radius: 10px;
    color: #006edc;
    font-family: NanumBarunGothic;
    font-size: 1.5rem;
    letter-spacing: 4px;
}

#myPage {

}