#productImg {
    height: 30vh;
    width: 30vh;
    border: 1px solid gray;
}

.productListImg {
    margin-top: 1vh;
}

#productManufacturer {
    font-family: NanumBarunGothic;
    font-size: 1.2vh;
    padding-top: 0.8vh;
    color: dimgray;
}

#productName {
    font-family: NanumBarunGothic;
    font-size: 2vh;
    margin-left: 0.2vh;
}

#manufacturerAndName {
    margin-top: 1vh;
    margin-bottom: 1vh;
    text-align: center;
}

#allergyArea {
    margin-top: 0.5vh;
    text-align: left;
    font-size: 1.2vh;
}

#diseaseArea {
    margin-top: 1vh;
    text-align: left;
    font-size: 1.2vh;
}

#likeButton {
    margin-bottom: 1vh;
    background-color:  rgba(0,0,0,0);
    border-radius: 50px;
    border: 0;
    outline: 0;
}

#likeButtonImage {
    width: 3vh;
    height: 3vh;
    padding-bottom: 0.01vh;
}

#heartButton {
    padding-top: 1vh;
    background-color: rgba(0,0,0,0);
    border-radius: 50px;
    border: 0px;
    outline: 0px;
}

button {
    outline: none;
}

#heartButtonImage {
    padding-top: 0.2vh;
    padding-bottom: -0.3vh;
    width: 3.5vh;
    height: 3.5vh;
}

.allergyChip {
    border: 1px solid indianred !important;
    margin: 3px !important;
    border-radius: 30px !important;
    font-family: NanumBarunGothic !important;
    font-size: 1vh !important;
    color: white !important;
    background-color: indianred !important;
    text-align: center !important;
    vertical-align: center !important;
}

.diseaseChip {
    border: 1px solid indianred !important;
    margin: 3px !important;
    border-radius: 30px !important;
    font-family: NanumBarunGothic !important;
    font-size: 1vh !important;
    color: white !important;
    background-color: indianred !important;
    text-align: center !important;
    vertical-align: center !important;
}

#diseaseChipArea {
    padding-top: 0.8vh;
}

#allergyChipArea {
    padding-top: 0.2vh;
}

#productResult {
    margin-top: 2vh;
    margin-left: 1vh
}