.allergyFiltering {
    width: 40rem;
    margin-left: 10rem;
}

#allergyChip {
    background-color: #006edc;
    border: 1px solid #006edc;
    font-family: NanumBarunGothic;
    font-size: 4vh;
}

.allergyFiltering {
    color: #006edc !important;
}

