#ResultTitle {
    font-family: NanumBarunGothic;
    font-size: 3rem;
    padding-top: 2rem;
    color: #006edc;
    text-align: center;
}

hr {
    border: 0.1px solid #006edc;
    width: 72rem;
}

.classificationRow {
    font-family: NanumBarunGothic;
    font-size: 1rem;
    margin-top: 1rem;
    width: 100rem;
}

.selectSort {
    font-size: 0.7rem;
    font-family: NanumBarunGothic;
    border: 1px solid #006edc;
    width: 4.5rem;
    height: 1.7rem;
}

#sortingSelect {
    text-align: right;
    margin-left: 0rem;
    padding-right: 0rem;
}

#productCount{
    color: #006edc;
    font-weight: bold;
}

#sortingTitle {
    text-align: right;
    padding-right: 0px;
    padding-left: 3rem;
    margin-left: 12rem;
}