.chart{
    background-color: rgb(0,110,220);
    color: white;
}
.userReview{
    background-color: rgb(0,110,220);
    color: white;
}
.activeTab{
    background-color: rgb(0,110,220);
    color: white;
}
.classNames.activeTab{
    background-color: rgb(0,110,220);
    color: white;
}
.classNames.chart{
    background-color: rgb(0,110,220);
    color: white;
}
