.ranking{
}
.rankingSub{
    width : 1100px;
    margin : 0;
    padding : 0;
}
.rankingLogo{
    margin-top : 50px;
    margin-bottom: 20px;
    font-size: 20px;
}

.kindOfRanking{
    font-size: 15px;
}

.sortToggleMenu {
    float : right;
}

.sortToggle {
    font-size : 13px;
    color : #111111;
    border-color : white;
    background-color : #ffffff;
}

.sortMenu {
}